@import url(../../index.css);

.subCats{
    width: 80vw;
    height: 64px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.subCats img{
    width: 20px;
    height: 20px;
}

.subCats .cat{
    font-weight: 400;
    color: var(--grey-text);
}

.productSection{
    width: 80vw;
    margin: 0 auto;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.productSection .productImages{
    margin: 20px;
    width: 380px;
}

.productSection .productImages .mainImage{
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 20px;
}

.productSection .productImages .otherImages{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productSection .productImages .otherImages .images{
    height: 56px;
    width: 56px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;
}

.productSection .productImages .otherImages .images:focus{
    border: 1px solid black;
}

.productDetails{
    width: 430px;
    margin-top: 20px;
}

.productDetails .inStock{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.productDetails .inStock span{
    color: #30C242;
}

.productDetails .outStock{
    color: red;
    margin-bottom: 10px;
}

.productDetails .productName{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.productDetails .info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.productDetails .info .rating{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FF9017;
}

.productDetails .info .reviews{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--grey-text);
}

.productDetails .info .sold{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--grey-text);
}

.productDetails .pricing{
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    background-color: #FFF0DF;
    margin-bottom: 20px;
}

.productDetails .pricing .price{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.productDetails .pricing .price:nth-child(2),.productDetails .pricing .price:nth-child(3){
    border-left: 1px solid #BDC1C8;
    padding-left: 10px;
}

.productDetails .pricing .price span:first-child{
    font-weight: 600;
    font-size: 18px;
}

.productDetails .pricing .price span:last-child{
    font-size: 13px;
    color: var(--grey-text);
    font-weight: 400;
}

.productDetails .infoBox{
    margin-bottom: 20px;
}

.productDetails .infoBox .title{
    color: var(--grey-text);
    width: 140px;
    display: inline-block;
}

.productDetails .infoBox .span{
    color: #505050;
}

hr{
    margin-bottom: 20px;
}

.productSection .seller{
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 280px;
    height: 325px;
    margin: 20px;
}

.productSection .seller .header{
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.productSection .seller .header .icon{
    width: 48px;
    height: 48px;
    background-color: #C6F3F1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 28px;
    color: #4CA7A799;
}

.productSection .seller .info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: var(--grey-text);
}

.productSection .seller button{
    display: block;
    width: 248px;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-weight: 600;
}

.productSection .seller button:first-of-type{
    background: var(--blue-button);
    color: white;
}

.productSection .seller button:last-of-type{
    background-color: var(--white);
    border: 1px solid var(--border-color);
    color: #0C77FF;
}


.detailSection{
    width: 80vw;
    margin: 0 auto;
}

.description{
    background-color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 880px;
}

.description .header{
    height: 48px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.description .header button{
    height: 100%;
    margin-left: 5px;
    background-color: var(--white);
    border: none;
    width: 90px;
    color: var(--grey-text);
}

.description .header button:first-of-type{
    color: #0C77FF;
    font-weight: 600;
    border-bottom: 2px solid #0C77FF;
}

.description .header button:focus{
    color: #0C77FF;
    font-weight: 600;
    border-bottom: 2px solid #0C77FF;
}

.description .content{
    margin: 20px;
}