@import url(../../index.css);

section{
    margin-bottom: 20px;
}

.sale-section{
    width: 80vw;
    height: 235px;
    margin: 0 auto;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: flex;
}

.sale-section .time{
    width: 300px;
    position: relative;
}

.sale-section .time div{
    position: absolute;
    top: 30px;
    left: 20px;
}

.sale-section .time div h2{
    font-weight: 600;
    font-size: 20px;
}

.sale-section .time div p{
    font-size: 14px;
    color: var(--grey-text);
    margin-bottom: 20px;
}


.sale-section .items{
    display: flex;
    width: 100%;
}

/* Media Queries for Sale Section */
@media (max-width: 1024px) {
    .sale-section {
        width: 90vw;
    }
}

@media (max-width: 768px) {
    .sale-section {
        width: 100%;
        flex-direction: column;
        height: auto;
        border: none;
    }
    
    .sale-section .time {
        width: 100%;
        margin-top: 10px;
        /* height: 100px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .sale-section .time div {
        position: static;
        text-align: center;
    }
    
    .sale-section .time div h2 {
        font-size: 18px;
    }
    
    .sale-section .time div p {
        margin-bottom: 10px;
    }
    
    .sale-section .items {
        /* flex-wrap: wrap; */
        justify-content: flex-start;
        flex-direction: row;
        padding: 0;
        height: 210px;
        gap: 10px;
        overflow-x: auto;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        margin-top: 10px;
    }
}

/* @media (max-width: 480px) {
    .sale-section {
        width: 98vw;
    }
    
    .sale-section .time {
        height: 80px;
    }
    
    .sale-section .time div h2 {
        font-size: 16px;
    }
    
    .sale-section .time div p {
        font-size: 12px;
    }
    
    .sale-section .items {
        padding: 10px;
        gap: 8px;
    }
} */