@import url(../../index.css);

.copyright{
    height: 68px;
    background-color: #EFF2F4;
}

.copyright div{
    width: 80vw;
    margin: 0 auto;
    padding: 20px 0;
    color: var(--grey-text);
}

/* Mobile-First Media Queries for Copyright */
@media (max-width: 1024px) {
    .copyright div {
        width: 90vw;
    }
}

@media (max-width: 768px) {
    .copyright {
        height: auto;
        min-height: 60px;
    }
    
    .copyright div {
        width: 95vw;
        padding: 15px 0;
        text-align: center;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .copyright div {
        width: 98vw;
        padding: 12px 0;
        font-size: 12px;
    }
}