@import url(../../index.css);

footer{
    width: 100%;
    background-color: var(--white);
}

.footer-container{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.company-info p{
    margin-top: 10px;
    color: #505050;
}

.social{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.social a:hover{
    filter: var(--a-hover);
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links span{
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-links a{
    color: var(--grey-text);
}

.footer-links a:hover{
    color: #0067FF;
}

/* Media Queries for Footer */
@media (max-width: 1024px) {
    .footer-container {
        width: 90vw;
    }
}

@media (max-width: 768px) {
    .footer-container {
        width: 95vw;
        /* flex-direction: column; */
        /* gap: 30px; */
        padding: 30px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
    }
    
    .company-info {
        text-align: center;
        grid-column: span 2;
        font-size: 16px;
    }
    
    .social {
        justify-content: center;
    }

    .footer-links:last-child{
        grid-column: span 2;
    }
    
    .footer-links {
        text-align: center;
        font-size: 16px;
    }
}

/* @media (max-width: 480px) {
    .footer-container {
        width: 98vw;
        gap: 25px;
        padding: 25px 0;
    }
    
    .footer-links {
        gap: 8px;
    }
    
    .footer-links span {
        font-size: 14px;
    }
    
    .footer-links a {
        font-size: 13px;
    }
    
    .social {
        gap: 8px;
    }
    
    .social a img {
        width: 24px;
        height: 24px;
    }
} */