@import url(../../index.css);

.newsletter{
    width: 100%;
    text-align: center;
    background-color: #EFF2F4;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter h2{
    font-size: 20px;
    font-weight: 600;
}

.newsletter p{
    color: var(--grey-text);
    margin-bottom: 10px;
}

.newsletter form input{
    height: 40px;
    width: 270px;
    padding: 0 10px;
    padding-left: 40px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-right: 5px;
    background: url(../../assets/home-img/email.png) no-repeat 10px center;
    background-color: var(--white);
}

.newsletter form input:focus{
    outline: none;
}
    
.newsletter form button{
    height: 40px;
    width: 110px;
    border: none;
    background: var(--blue-button);
    border-radius: 5px;
    color: var(--white);
}

/* Media Queries for Newsletter */
@media (max-width: 768px) {
    .newsletter {
        height: 200px;
        padding: 20px;
    }
    
    .newsletter h2 {
        font-size: 18px;
    }
    
    .newsletter p {
        font-size: 14px;
        margin-bottom: 15px;
    }
    
    .newsletter form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    
    .newsletter form input {
        width: 250px;
        margin-right: 0;
    }
    
    .newsletter form button {
        width: 100px;
    }
}

/* @media (max-width: 480px) {
    .newsletter {
        height: 140px;
        padding: 15px;
    }
    
    .newsletter h2 {
        font-size: 16px;
    }
    
    .newsletter p {
        font-size: 12px;
    }
    
    .newsletter form input {
        width: 200px;
        height: 36px;
        font-size: 14px;
    }
    
    .newsletter form button {
        width: 90px;
        height: 36px;
        font-size: 14px;
    }
} */